* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container {
  width: 100vw;

  padding: 20px; /* Optional padding for inner spacing */
  background-color: #fff;
  display: flex;
  flex-direction: column;
  gap: 20px; /* Space between children elements */
}

.heading {
  font-size: 3rem;
  color: #4caf50;
  margin-bottom: 20px;
}

.subHeading {
  font-size: 1.5rem;
  color: #333;
  margin-bottom: 20px;
}

.userList {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.userItem {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  background-color: #fff;
}

.userItem span:first-child {
  font-weight: bold;
  margin-right: 10px;
}
